<div>
	Item: {{product_name}} || Cost: {{price}} || {{#if in_cart}}Available: {{stock_quantity}}{{else}}In Cart: {{cart_quantity}}{{/if}}

	<button class="statusChange" data-id="{{id}}" >
		{{#if in_cart}}Add to Cart{{else}}Remove from Cart{{/if}}
	</button>
</div>
<br>
